<%= link_to :back do %>
  <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, label: false, placeholder: "username" %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                label: false,
                placeholder: "email" %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                label: false,
                placeholder: "password" %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                label: false,
                placeholder: "confirm password" %>
    <%= f.input :avatar, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class:"submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


<style>
  .link{
    margin-top: 50px;
    margin-left: 160px;
  }

  .submit{
  margin-bottom: 29px;
  margin-left: 39px;
  color: black;
  background:#F5FF6D;
  width:80%;
  padding: 10px 0;
  border-radius:25px;
  }

  .login-form {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .simple_form{
    margin-top:100px;
  }



  p {
    color: #E5E2DA;
  }

  .form-control {
    color: #E5E2DA;
    background-color: #1C1C17;
    border: 1px solid #F5FF6D;
    border-radius: 10px;
    width: 300px;
    padding: 8px;
  }


  .form-label{
    color: #F5FF6D;
  }



  .form-control:focus {
    background: none;

    color: yellow;
    letter-spacing:1px;
  }

  .form-control::placeholder {
    color: #F5FF6D;
  }

  .form-control:focus::placeholder {
    color: transparent;
  }

  .link {
    color: #F5FF6D;
    text-decoration: none;


  }

  .form-check {
    color: #F5FF6D;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .login-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #1C1C17;
    background-color: #F5FF6D;
    text-align: center;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
  }

  .form-actions {
    margin: 0 auto;
  }

  i {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #F5FF6D;
  }

</style>
