<div class="signup">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username, label: false, placeholder: "username..." %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label: false,
                  placeholder: "email..."%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  label: false,
                  placeholder: "password..." %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label: false,
                  placeholder: "confirm password..." %>
    </div>

    <%= render "devise/shared/links" %>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: 'login-btn' %>
    </div>
  <% end %>
</div>

<style>
  .form-control {
    color: yellow;
    background-color: #1C1C17;
    border: 1px solid #F5FF6D;
    border-radius: 10px;
    width: 300px;
    padding: 8px;
  }

  .form-control:focus {
    background: none;
    color: yellow;
    letter-spacing:1px;
  }

  .link {
    color: #F5FF6D;
    text-decoration: none;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links p {
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }

  .form-check {
    color: #F5FF6D;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #1C1C17;
    background-color: #F5FF6D;
    text-align: center;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
  }

  .form-actions {
    margin: 0 auto;
  }

</style>
