<div class="edit-container" data-controller='address-input'>
  <div class="navbar">
    <%= link_to shop_path(@shop) do %>
      <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
    <% end %>
    <%=link_to profile_path(current_user) do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  </div>

  <%= simple_form_for(@shop) do |f| %>
    <%=f.input :name  %>
    <%= f.input :address %>
    <%= f.input :hours %>
    <%= f.input :phone_number %>
    <%= f.input :description %>
    <%= f.input :website %>
    <%= f.submit "edit", class: "submit" %>
  <% end %>
</div>
