<div class="edit-container" data-controller='address-input'>
  <div class="navbar">
    <%= link_to shop_path(@shop) do %>
      <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
    <% end %>
    <%= link_to profile_path(current_user) do %>
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, height: 50, width: 50, crop: :fill, class: "avatar-medium" %>
      <% else %>
        <i class="fa-solid fa-user fa-2xl default-avatar"></i>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for(@shop) do |f| %>
    <%=f.input :name  %>
    <%= f.input :address %>
    <%= f.input :hours %>
    <%= f.input :phone_number %>
    <%= f.input :description, as: :text %>
    <%= f.input :website %>
    <%= f.input :photos, as: :file, class: "photo-field" , input_html: { multiple: true } %>
    <%= button_tag(class:"submit") do  %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
  <% end %>
</div>
