<div class="edit-container">
  <div class="navbar">
    <%= link_to videos_path do %>
      <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
    <% end %>
    <%=link_to profile_path(current_user) do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  </div>

  <%= simple_form_for(@shop) do |f| %>
    <div class="nav-div" data-controller='search-address' >
      <input type="text" class="search-input" placeholder="search location...">
      <input type="text" class ="lat" style="display:none">
      <input type="text" class ="long" style="display:none">
    </div>
    <%= f.input :hours %>
    <%= f.input :phone_number %>
    <%= f.input :description %>
    <%= f.input :website %>
    <%= f.submit "edit", class: "submit" %>
  <% end %>
</div>
