<div class="nav-div">
<input type="text" class="search-input" placeholder="search location...">
<i class="fa-solid fa-magnifying-glass"></i>
</div>
<div id="map" data-controller="shops-google-maps" style="height:500px;"></div>

<div class="bottom-container">
  <%= link_to "add shop", new_shop_path, class:"button"%>
  <%= link_to "home", menu_path, class:"button" %>
</div>

<script>
 shop_data = {
  <% @shops.each do |shop| %>
  '<%=shop.id%>':{
    'lat': '<%=shop.latitude%>',
    'long': '<%=shop.longitude%>',
  },
  <% end %>
 }

//  console.log(shop_data)
</script>


<style>
.shop-container{
  border: 1px solid black;
}
body{
  background:#1C1C17;
}

.button{
  width:180px;
  background:#F5FF6D;
  padding:13px 30px;
  text-decoration:none;
  color:black;
  border-radius:20px;
  display:flex;
  justify-content:space-around;
}

.bottom-container{
  display:flex;
  justify-content:space-between;
  padding:0px 10px;
  margin-top:30px;

}

.nav-div{
  padding:10px;
}
.search-input{
  margin-left:30px;
  width:80%;
  border-radius:5px;
}

.fa-magnifying-glass{
  font-size:25px;
  color:yellow;
}
</style>
