<div class="nav-div" data-controller='search-address'>
  <input type="text" class="search-input" placeholder="search location...">
  <input type="text" class ="lat" style="display:none">
  <input type="text" class ="long" style="display:none">
  <i class="fa-solid fa-magnifying-glass"></i>
</div>

<div id="map"  class="map" data-controller="shops-google-maps" style="height:564px; width:90%; border:2px solid #F5FF6D; margin: 0 auto; border-radius:7px;"></div>

<div class="buttons">
  <%= link_to menu_path, class: 'button' do %>
    <i class="fa-solid fa-house fa-xl"></i>
  <% end %>
  <%= link_to new_shop_path, class: 'button' do %>
    <i class="fa-solid fa-plus fa-xl"></i>
  <% end %>
</div>

<script>
  shop_data = {
    <% @shops.each do |shop| %>
    '<%=shop.id%>':{
      'lat': '<%=shop.latitude%>',
      'long': '<%=shop.longitude%>',
      'status': '<%=shop.status%>'
    },
    <% end %>
  }

//  console.log(shop_data)
</script>
