<div data-controller='address-input' class="new-container">
  <div class="navbar">
    <%= link_to shops_path do %>
      <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
    <% end %>
    <%= link_to profile_path(current_user) do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  </div>

  <%= simple_form_for(@shop) do |f| %>
    <%= f.input :address, label: false, placeholder: 'address...' %>
    <%= f.input :latitude, label: false, placeholder: 'latitude...' %>
    <%= f.input :longitude, label: false, placeholder: 'longitude...' %>
    <%= f.input :hours, label: false, placeholder: 'hours...' %>
    <%= f.input :phone_number, label: false, placeholder: 'phone number...' %>
    <%= f.input :description, label: false, placeholder: 'description...' %>
    <%= f.input :website, label: false, placeholder: 'website...' %>
    <%= f.input :photos, as: :file, class: "photo-field" , input_html: { multiple: true } %>
    <%= f.submit "+", class:"submit" %>
  <% end %>
</div>
