<div class="edit-container">
  <div class="navbar">
    <%= link_to videos_path do %>
      <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
    <% end %>
    <%=link_to profile_path(current_user) do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  </div>

  <%= simple_form_for(@bike_rack) do |f| %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.submit "edit", class: "submit" %>
  <% end %>
</div>
