

<div id="map" data-controller="google-maps" style="height:500px;"></div>

<%= link_to "add rack",  new_bike_rack_path %>

<script>
 bike_rack_data = {
  <% @bike_racks.each do |rack| %>
  '<%=rack.id%>':{
    'lat': '<%=rack.latitude%>',
    'long': '<%=rack.longitude%>',
  },
  <% end %>
 }

//  console.log(bike_rack_data)
</script>
<ul>
  <% @bike_racks.each do |rack| %>
    <li>
      <a href="bike_racks/<%= rack.id %>"><%= rack.address %></a>
    </li>
  <% end %>
</ul>


<style>
body{
  background:#1C1C17;
}

</style>
