<div data-controller='address-input' class="new-container">
  <div class="navbar">
    <%= link_to bike_racks_path do %>
      <i class="fa-solid fa-chevron-left fa-xl"></i>
    <% end %>
    <%= link_to profile_path(current_user) do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  </div>

  <%= simple_form_for(@bike_rack) do |f| %>
    <%= f.input :address, label: false, placeholder: 'address'  %>
    <%= f.input :description, label: false, placeholder: 'description...' %>
    <%= f.input :latitude, label: false, placeholder: 'latitude...' %>
    <%= f.input :longitude, label: false, placeholder: 'longitude...' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "+", class: "submit" %>
  <% end %>
</div>
