<div data-controller='address-input'>

<%= simple_form_for(@bike_rack) do |f| %>
  <%= f.input :address  %>
  <%= f.input :description %>
  <%= f.input :latitude%>
  <%= f.input :longitude %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "add rack" %>
<% end %>
</div>
