<div class="navbar">
  <div class="navbar-section">
    <%= link_to bike_racks_path, class: "button" do %>
      <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
    <% end %>
    <div class="actions">
      <i class="fa-solid fa-bars fa-xl"></i>
      <div class="actions-dropdown">
        <%= link_to edit_bike_rack_path(@bike_rack), class: "button" do %>
          <i class="fa-solid fa-pencil fa-xl"></i>
        <% end %>
        <%= link_to bike_rack_path(@bike_rack), data: {turbo_method: :delete}, class: "button"  do %>
          <i class="fa-solid fa-trash fa-xl"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="right-nav">
    <% if current_user %>
        <div class="profile">
        <%=link_to profile_path(current_user) do %>
          <i class="fa-solid fa-user"></i>
        <% end %>
        </div>
      <% end %>
    <div class="heart">
      <% unless @bike_rack.has_user_liked?(current_user) %>
        <%= link_to bike_rack_bike_rack_likes_path(@bike_rack), data: {turbo_method: :post}  do %>
          <i class="fa-regular fa-heart fa-xl"></i>
        <% end %>
      <% else %>
        <%= link_to bike_rack_bike_rack_like_path(@bike_rack), data: {turbo_method: :delete} do %>
          <i class="fa-solid fa-heart fa-xl"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="photos" style="height: 300px; width: 400px;">
  <% if @bike_rack.photos.attached? %>
    <% @bike_rack.photos.each do |photo| %>
      <div class="photo" style="background-image: url('<%= cl_image_path photo.key, effect: "trim" , gravity: "center", height: 300, width: 400, crop: :fill %>'); height: 100%; width: 100%; ">
      </div>
    <% end %>
  <% end %>
</div>

<div class="info">
  <%= @bike_rack.address %>
  <%= @bike_rack.description %>
</div>

<% if @bike_rack.bike_rack_reports.count > 0 %>
  <div class="reports">
    <% @bike_rack.bike_rack_reports.each do |report| %>
      <% r = Report.find(report.report_id) %>
      <%= r.content %><br>
    <% end %>
  </div>
<% end %>


<div class="comments">
  <div class="add-comment">
    <div class="comment-top">
      <i class="fa-solid fa-plus fa-xl"></i>
      <p>comments</p>
    </div>
    <%= simple_form_for([@bike_rack, @bike_rack_comment]) do |f| %>
      <%= f.simple_fields_for :comments do |comments_form| %>
        <%= comments_form.input :content, label: false, as: :text %>
      <% end %>
      <%= f.submit '+', class: 'submit-btn' %>
    <% end %>
  </div>
  <ul>
    <% @bike_rack.bike_rack_comments.each do |bike_rack_comment| %>
      <li>
        <div class="comment-username">
          <div>
            <i class="fa-regular fa-circle fa-lg"></i>
            <%= bike_rack_comment.comment.user.username %>
          </div>
          <div>
            <%= link_to bike_rack_comment_path(bike_rack_comment), data: {turbo_method: :delete}  do %>
              <i class="fa-solid fa-trash fa-sm"></i>
            <% end %>
          </div>
        </div>
        <div class="comment-content">
          <%= bike_rack_comment.comment.content %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="report">
  <%= link_to new_bike_rack_bike_rack_report_path(@bike_rack), class: "report-btn" do %>
    <p><i class="fa-solid fa-triangle-exclamation fa-xl"></i></i> report</p>
  <% end %>
</div>
