<div class="video-search">
  <%= form_with url: videos_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "search..."
    %>
    <%= button_tag(type: "submit", class: "search-btn")  do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
</div>

<div class="video-body" data-controller="filter-videos">
  <div class="dropdowns">
    <div class="filter-dropdown">
      <button class="btn" data-action="click->filter-videos#active" data-filter-videos-target="filter">filter</button>
        <ul data-filter-videos-target="filterdropdown">
          <li>
            <button class="tag" data-action="click->filter-videos#maintenance">maintenance</button>
          </li>
          <li>
            <button class="tag" data-action="click->filter-videos#repair">repair</button>
          </li>
          <li>
            <button class="tag" data-action="click->filter-videos#styling">styling</button>
          </li>
          <li>
            <button class="tag" data-action="click->filter-videos#other">other</button>
          </li>
        </ul>
    </div>
    <div class="order-dropdown">
      <button class="btn" data-action="click->filter-videos#active" data-filter-videos-target="order">order</button>
        <ul data-filter-videos-target="orderdropdown">
          <li>
            <button class="tag" data-action="click->filter-videos#recent">most recent</button>
          </li>
          <li>
            <button class="tag" data-action="click->filter-videos#liked">most liked</button>
          </li>
        </ul>
    </div>
  </div>

  <%= render "videos/video_list", videos: @videos %>

  <div class="buttons" data-filter-videos-target="buttons">
    <%= link_to menu_path, class: 'button' do %>
      <i class="fa-solid fa-house fa-xl"></i>
    <% end %>
    <%= link_to new_video_path, class: 'button' do %>
      <i class="fa-solid fa-plus fa-xl"></i>
    <% end %>
  </div>
</div>
