<div class="navbar">
  <%= link_to videos_path, class: "button" do %>
    <i class="fa-solid fa-circle-chevron-left fa-lg"></i>
  <% end %>
  <%=link_to profile_path(current_user) do %>
    <i class="fa-solid fa-user fa-lg"></i>
  <% end %>
</div>


<%= simple_form_for(@video) do |f| %>
  <%= f.input :title, label: false, placeholder: 'title...' %>
  <%= f.input :description, label: false, placeholder: 'description...' %>
  <%= f.input :video, as: :file, label: false %>
  <%= f.input :tag_list, as: :check_boxes,
              collection: [ "maintenance", "repair", "styling", "other" ],
              class: "tag-selector",
              item_wrapper_class: 'tag-item' %>
  <%= f.submit "+", class: 'add-video-btn'%>
<% end %>

<style>
  .form-control {
    width: 80%;
    margin: 20px auto;
    background: none;
    color: #E5E2DA;
    border: 1px solid #F5FF6D;
    padding: 10px;
    border-radius: 10px;
  }

  .form-control:focus {
    background: none;
    color: #E5E2DA;
  }

  .header-icon {
    margin: 20px auto;
    width: 80%;
    text-align: center;
  }

  legend {
    display: none;
  }

  .video_tag_list {
    display: flex;
    justify-content: space-evenly;
  }

  .check_boxes + label {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    padding: 4px 8px;
    background-color: none;
    color: #E5E2DA;
    border: 1px solid #F5FF6D;
    margin-bottom: 20px;
  }

  .check_boxes:checked + label {
    background-color: #F5FF6D;
    color: #1C1C17;
  }

  .form-check-input {
    display: none;
  }

  .add-video-btn {
    border: none;
    background-color: #F5FF6D;
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 25px;
  }

  .add-video-btn:hover {
    background: none;
    color: #F5FF6D;
  }

  #video_video {
    padding: 15px 5px;
  }

  input[type="file"]::file-selector-button {
    background-color: #F5FF6D;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
  }

  input[type="file"]::file-selector-button:hover {
    background: none;
    color: #F5FF6D;
  }
</style>
