<div class="new-container">
  <div class="navbar">
    <%= link_to videos_path do %>
      <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
    <% end %>
    <%=link_to profile_path(current_user) do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  </div>

  <%= simple_form_for(@video) do |f| %>
    <%= f.input :title, label: false, placeholder: 'title...' %>
    <%= f.input :description, label: false, placeholder: 'description...' %>
    <%= f.input :video, as: :file %>
    <%= f.input :tag_list, as: :check_boxes,
                collection: [ "maintenance", "repair", "styling", "other" ],
                class: "tag-selector",
                item_wrapper_class: 'tag-item' %>
    <%= f.submit "+", class: 'submit'%>
  <% end %>
</div>
