<div class="container">
  <%= link_to menu_path do  %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>

 <div id="map" data-controller="lanes-new-google-maps" style="height:564px;width:90%; border:2px solid yellow; left:20px;"></div>


  <%= simple_form_for(@lane) do |f| %>
  <%= f.input :coords %>
  <%= f.input :street_name %>
  <%= f.input :drescription %>
  <%= f.submit "edit lane", class:"edit" %>
  <% end %>



<style>
.fa-house{
  position:absolute;
  font-size:30px;
  left: 86%;
  top: 3%;
}
.edit{
  background:#F5FF6D;
  width:80%;
  padding: 10px 0;
  border-radius:25px;
}
.container{
  margin-top:10px;
  height:45px;
  padding-left: 58px;
  /* width:100vw; */
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-end;
}

.simple_form{
  margin-left: 30px;
  width:100%;
}
.form-control{
  border-radius:10px;
  width:80%;
  background:none;
  border: 1px solid #F5FF6D;
  color:white;
}

.form-control:focus{
  background:none;
  color:white;
}

.form-label{
  color: #F5FF6D;
}


</style>
