<div class="edit-container">
  <div class="navbar">
    <%= link_to lane_path(@lane) do %>
      <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
    <% end %>
    <%=link_to profile_path(current_user) do %>
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, height: 50, width: 50, crop: :fill, class: "avatar-medium" %>
      <% else %>
        <i class="fa-solid fa-user fa-2xl default-avatar"></i>
      <% end %>
    <% end %>

 <div id="map"  class="map" data-controller="lanes-new-google-maps" style="height:564px;width:90%; border:2px solid #F5FF6D; left:20px; border-radius:7px;"></div>


  <%= simple_form_for(@lane) do |f| %>
    <%= f.input :coords %>
    <%#= f.input :street_name %>
    <%= f.input :drescription %>
    <%= f.input :photos, as: :file, class: "photo-field" , input_html: { multiple: true } %>
   <%= button_tag(class:"submit") do  %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
  <% end %>
</div>
