<div class="nav-div" data-controller='search-address' >
  <input type="text" class="search-input" placeholder="search location...">
  <input type="text" class ="lat" style="display:none">
  <input type="text" class ="long" style="display:none">
<i class="fa-solid fa-magnifying-glass"></i>
</div>

<%# <div id="map" data-controller="lanes-google-maps" style="height:590px;"></div> %>

<div id="map" class="map" data-controller="lanes-google-maps" style="height:564px; width:90%; margin: 0 auto; border:2px solid #F5FF6D; border-radius:7px;"></div>

<div class="buttons">
  <%= link_to menu_path, class: 'button' do %>
    <i class="fa-solid fa-house fa-xl"></i>
  <% end %>
  <%= link_to new_lane_path, class: 'button' do %>
    <i class="fa-solid fa-plus fa-xl"></i>
  <% end %>
</div>

<script>
 lanes_data = {
  <% @lanes.each do |lane| %>
    <%if lane.coords %>
      '<%=lane.id%>': {
        'coords':JSON.parse('<%=lane.coords.html_safe%>'),
        'status':'<%=lane.status%>'
        },
    <% end %>
  <% end %>
 }
</script>
