<div class="nav-div" data-controller='search-address' >
  <input type="text" class="search-input" placeholder="search location...">
  <input type="text" class ="lat" style="display:none">
  <input type="text" class ="long" style="display:none">
<i class="fa-solid fa-magnifying-glass"></i>
</div>

<%# <div id="map" data-controller="lanes-google-maps" style="height:590px;"></div> %>
<%# <div id="map" data-controller="lanes-map-display" data-lanes-map-display-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"></div> %>

<div id="map" data-controller="lanes-google-maps" style="height:590px;"></div>
<%# <div id="map" data-controller="lanes-map-display" data-lanes-map-display-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"></div> %>
<div class="bottom-container">
  <%= link_to "home", menu_path, class:"button" %>
  <%= link_to "add lane", new_lane_path, class:"button"%>
</div>
<script>
 lanes_data = [
  <% @lanes.each do |lane| %>
    <%if lane.coords %>
      JSON.parse('<%=lane.coords.html_safe%>'),
      // console.log(lane.coords)
    <% end %>
  <% end %>
 ]

</script>
<style>
body{
  background:#1C1C17;
}

.button{
  font-weight: bold;
  letter-spacing: 1px;
  width:180px;
  background:#F5FF6D;
  padding:13px 30px;
  text-decoration:none;
  color:black;
  border-radius:20px;
  display:flex;
  justify-content:space-around;
}

.bottom-container{
  display:flex;
  justify-content:space-between;
  padding:0px 10px;
  margin-top:7px;

}

.nav-div{
  display:flex;
  padding:10px;
}
.search-input{
  background-color: #1C1C17;
  border: 1px solid #F5FF6D;
  border-radius: 10px 0 0 10px;
  margin-left:30px;
  width:80%;
  padding:6px;
  color:white;
  padding-left:20px;
}

.fa-magnifying-glass{
  font-size:25px;
  color:#F5FF6D;
  border:1px solid #F5FF6D;
  padding:6px;
  border-radius: 0px 10px 10px 0px;
}

.lane-container{
  border:1px solid black;
}

#map {
  width: 100%;
  height: 500px;
}

input[type="file"]::file-selector-button {
  border: 2px solid #f5ff6d;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #f5ff6d;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f5ff6d;
  border: 2px solid #00cec9;
}
</style>
