
<div class="top-nav">
  <%= link_to menu_path do  %>
  <i class="fa-solid fa-house"></i>
  <% end %>
  <div class="nav-div" data-controller='search-address' >
    <input type="text" class="search-input" placeholder="search location...">
    <input type="text" class ="lat" style="display:none">
    <input type="text" class ="long" style="display:none">
  <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</div>
<div id="map" data-controller="lanes-new-google-maps" style="height:590px;"></div>

<%# <div id="map" data-controller="lanes-map" data-lanes-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div> %>

<%= simple_form_for(@lane) do |f| %>
  <%= f.input :coords%>
  <%= f.input :street_name %>
  <%= f.input :drescription %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "create lane", class:"submit" %>
<% end %>
</div>

<style>

.top-nav{
  display:flex;
}

.nav-div{
  display:flex;
  padding:10px;
}
.search-input{
  background-color: #1C1C17;
  border: 1px solid #F5FF6D;
  border-radius: 10px 0 0 10px;
  margin-left:30px;
  width:80%;
  padding:6px;
  color:white;
  padding-left:20px;
}

.fa-magnifying-glass{
  font-size:25px;
  color:#F5FF6D;
  border:1px solid #F5FF6D;
  padding:6px;
  border-radius: 0px 10px 10px 0px;
}

a{
  display:flex;
  align-items:center;
  margin-left:10px;
}

.fa-house{
  font-size:30px;
}

.submit{
  background:#F5FF6D;
  width:80%;
  padding: 10px 0;
  border-radius:25px;
}
.container{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-end;

}
.form-control{
  border-radius:10px;
  width:80%;
  background:none;
  border: 1px solid #F5FF6D;
  color:white;
}

.simple_form{
  margin-left: 36px;
}

.form-control:focus{
  background:none;
  color:white;
}

.form-label{
  color: #F5FF6D;
}

#map {
  width: 100%;
  height: 400px;
}

input[type="file"]::file-selector-button {
  border: 2px solid #f5ff6d;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #f5ff6d;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

</style>
