<%# <h1>MAIN MENU </h1> %>
<div class="nav">
  <i class="fa-solid fa-globe globe"></i>
  <%= link_to profile_path do  %>
    <div class="profile-icon">
    </div>
  <% end %>
</div>
<div class="menu-container">
  <%= link_to "Racks", bike_racks_path, class:"menu-item", id:"one"%>
  <%= link_to "Lanes", lanes_path,  class:"menu-item", id:"two" %>
  <%= link_to "Shops", shops_path,  class:"menu-item", id:"three" %>
  <%= link_to "Videos", videos_path,  class:"menu-item", id:"four" %>
</div>

