<div class="nav">
  <i class="fa-solid fa-globe globe"></i>
  <%= link_to profile_path do  %>
    <% if user_signed_in? %>
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
      <% else %>
        <i class="fa-solid fa-user fa-2xl default-avatar"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="menu-container">
  <%= link_to "Racks", bike_racks_path, class:"menu-item", id:"one"%>
  <%= link_to "Lanes", lanes_path,  class:"menu-item", id:"two" %>
  <%= link_to "Shops", shops_path,  class:"menu-item", id:"three" %>
  <%= link_to "Videos", videos_path,  class:"menu-item", id:"four" %>
</div>
