<div class="profile">
  <div class="navbar">
    <%= link_to menu_path do %>
      <i class="fa-solid fa-house fa-xl"></i>
    <% end %>
    <%= link_to destroy_user_session_path,data: {turbo_method: :delete} do %>
      <i class="fa-solid fa-right-from-bracket fa-xl"></i>
    <% end %>
  </div>
  <div class="user-info">
    <div class="avatar">``
     </div>
    <div class="user-actions">
      <%= link_to "edit information", edit_user_registration_path(current_user), class:"action" %>
      <%= link_to "change password", edit_user_password_path(current_user), class:"action" %>
    </div>
  </div>
  <div class="likes">
    <p>my likes</p>
    <ul>
      <li data-controller="liked-racks-map">
        <button class='btn' data-action="click->liked-racks-map#displayMap">racks <i class="fa-solid fa-plus"></i></button>
        <div data-liked-racks-map-target="map" id="map" style="height:0"></div>
      </li>
      <li data-controller="liked-lanes-map">
        <button class='btn' data-action="click->liked-lanes-map#displayMap">lanes <i class="fa-solid fa-plus"></i></button>
        <%# <% <div id="map" data-controller="liked-lanes-map" style="height:590px;"></div> %>
      </li>
      <li data-controller="like-dropdowns">
        <button class='btn' data-action="click->like-dropdowns#shopDropdown" data-like-dropdowns-target="shopbtn">shops <i class="fa-solid fa-plus"></i></button>
        <div class="liked-cards" data-like-dropdowns-target="shopdropdown">
          <% current_user.shop_likes.each do |shop_like| %>
            <% shop = Shop.find(shop_like.shop_id) %>
            <div class="liked-card">
              <a href="shops/<%=shop.id%>"><%= shop.name %></a>
              <p><%= shop.hours %></p>
            </div>
          <% end %>
        </div>
      </li>
      <%# <li data-controller="liked-shops-map">
        <div id="map" style="height:590px;"></div>
      </li> %>
      <li data-controller="like-dropdowns">
        <button class='btn' data-action="click->like-dropdowns#videoDropdown" data-like-dropdowns-target="videobtn">videos <i class="fa-solid fa-plus"></i></button>
          <div class="liked-cards" data-like-dropdowns-target="videodropdown">
            <% current_user.video_likes.each do |video_like| %>
              <% video = Video.find(video_like.video_id) %>
              <div class="liked-card">
                <a href="/videos/<%=video_like.video_id%>"><%= video.title %></a><br>
              </div>
            <% end %>
          </div>
      </li>
    </ul>
  </div>
  <div class="user-uploads">
    <p>my uploads</p>
  </div>
  <div class="user-comments">
    <p>my comments</p>
  </div>
</div>

<script>
  liked_racks_data = {
    <% current_user.bike_rack_likes.each do |rack_like| %>
      <% bike_rack = BikeRack.find(rack_like.bike_rack_id) %>
      '<%= bike_rack.id %>': {
        'lat': '<%=bike_rack.latitude%>',
        'long': '<%=bike_rack.longitude%>',
        'status': '<%=bike_rack.status%>'
      },
    <% end %>
  }

  liked_shops_data = {
    <% current_user.shop_likes.each do |shop_like| %>
      <% shop = Shop.find(shop_like.shop_id) %>
      '<%= shop.id %>': {
        'lat': '<%=shop.latitude%>',
        'long': '<%=shop.longitude%>',
        'status': '<%=shop.status%>'
      },
    <% end %>
  }
</script>
