<div class="profile">
  <div class="navbar">
    <%= link_to menu_path do %>
      <i class="fa-solid fa-house fa-xl"></i>
    <% end %>
    <%= link_to destroy_user_session_path,data: {turbo_method: :delete} do %>
      <i class="fa-solid fa-right-from-bracket fa-xl"></i>
    <% end %>
  </div>
  <div class="user-info">
    <div class="avatar">``
     </div>
    <div class="user-actions">
      <%= link_to "edit information", edit_user_registration_path(current_user), class:"action" %>
      <%= link_to "change password", edit_user_password_path(current_user), class:"action" %>
    </div>
  </div>
  <div class="likes">
    <p>my likes</p>
    <ul>
      <li data-controller="liked-racks-map">
        <button class='btn' data-action="click->liked-racks-map#displayMap">racks <i class="fa-solid fa-plus"></i></button>
        <div data-liked-racks-map-target="map" id="map" style="height:0"></div>
      </li>
      <li data-controller="liked-lanes-map">
        <button class='btn' data-action="click->liked-lanes-map#displayMap">lanes <i class="fa-solid fa-plus"></i></button>
        <%# <% <div id="map" data-controller="liked-lanes-map" style="height:590px;"></div> %>
      </li>
      <li data-controller="like-dropdowns">
        <button class='btn' data-action="click->like-dropdowns#shopDropdown" data-like-dropdowns-target="shopbtn">shops <i class="fa-solid fa-plus"></i></button>
        <div class="cards" data-like-dropdowns-target="shopdropdown">
          <a href="/liked_shops_map" id="shop-map">see map</a>
          <% current_user.shop_likes.each do |shop_like| %>
            <% shop = Shop.find(shop_like.shop_id) %>
            <div class="card">
              <a href="shops/<%=shop.id%>"><%= shop.name %></a>
              <p><%= shop.hours %></p>
            </div>
          <% end %>
        </div>
      </li>
      <li data-controller="like-dropdowns">
        <button class='btn' data-action="click->like-dropdowns#videoDropdown" data-like-dropdowns-target="videobtn">videos <i class="fa-solid fa-plus"></i></button>
          <div class="cards" data-like-dropdowns-target="videodropdown">
            <% current_user.video_likes.each do |video_like| %>
              <% video = Video.find(video_like.video_id) %>
              <div class="card">
                <a href="/videos/<%=video_like.video_id%>"><%= video.title %></a><br>
              </div>
            <% end %>
          </div>
      </li>
    </ul>
  </div>
  <div class="user-uploads">
    <p>my uploads</p>
    <ul>
      <li data-controller="like-dropdowns">
        <button class='btn' data-action="click->like-dropdowns#myRackDropdown" data-like-dropdowns-target="myrackbtn">racks <i class="fa-solid fa-plus"></i></button>
        <div class="cards" data-like-dropdowns-target="myrackdropdown">
          <% current_user.bike_racks.each do |rack| %>
            <div class="card">
              <a href="/bike_racks/<%=rack.id%>"><%= rack.description %></a><br>
            </div>
          <% end %>
        </div>
      </li>
      <li data-controller="like-dropdowns">
        <button class='btn' data-action="click->like-dropdowns#myLaneDropdown" data-like-dropdowns-target="mylanebtn">lanes <i class="fa-solid fa-plus"></i></button>
        <div class="cards" data-like-dropdowns-target="mylanedropdown">
          <% current_user.lanes.each do |lane| %>
            <div class="card">
              <a href="/lanes/<%=lane.id%>"><%= lane.id %></a><br>
            </div>
          <% end %>
        </div>
      </li>
      <li data-controller="like-dropdowns">
        <button class='btn' data-action="click->like-dropdowns#myShopDropdown" data-like-dropdowns-target="myshopbtn">shops <i class="fa-solid fa-plus"></i></button>
        <div class="cards" data-like-dropdowns-target="myshopdropdown">
          <% current_user.shops.each do |shop| %>
            <div class="card">
              <a href="/shops/<%=shop.id%>"><%= shop.address %></a><br>
            </div>
          <% end %>
        </div>
      </li>
      <li data-controller="like-dropdowns">
        <button class='btn' data-action="click->like-dropdowns#myVideoDropdown" data-like-dropdowns-target="myvideobtn">videos <i class="fa-solid fa-plus"></i></button>
        <div class="cards" data-like-dropdowns-target="myvideodropdown">
          <% current_user.videos.each do |video| %>
            <div class="card">
              <a href="/videos/<%=video.id%>"><%= video.title %></a><br>
            </div>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
  <div class="user-comments" data-controller="like-dropdowns">
    <p data-action="click->like-dropdowns#commentDropdown" data-like-dropdowns-target="commentbtn">my comments <i class="fa-solid fa-plus"></i></p>
    <div class= "cards" data-like-dropdowns-target="commentdropdown">
      <% current_user.bike_rack_comments.each do |comment| %>
        <div class="card">
          <a href="bike_racks/<%= comment.bike_rack.id %>"><%= comment.comment.content %></a>
        </div>
      <% end %>
      <% current_user.lane_comments.each do |comment| %>
        <div class="card">
          <a href="lanes/<%= comment.lane.id %>"><%= comment.comment.content %></a>
        </div>
      <% end %>
      <% current_user.shop_comments.each do |comment| %>
        <div class="card">
          <a href="shops/<%= comment.shop.id %>"><%= comment.comment.content %></a>
        </div>
      <% end %>
      <% current_user.video_comments.each do |comment| %>
        <div class="card">
          <a href="videos/<%= comment.video.id %>"><%= comment.comment.content %></a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="admin-reports" id="admin-reports" data-controller="like-dropdowns">
    <p data-action="click->like-dropdowns#reportDropdown" data-like-dropdowns-target="reportbtn">reports <i class="fa-solid fa-plus"></i></p>
    <div class="cards" data-like-dropdowns-target="reportdropdown">
      <% @reports.each do |report| %>
        <% report.bike_rack_reports.each do |report| %>
          <div class="card">
            <a href="/bike_racks/<%= report.bike_rack.id %>"><%= report.report.content %></a>
          </div>
        <% end %>
        <% report.lane_reports.each do |report| %>
          <div class="card">
            <a href="/lanes/<%= report.lane.id %>"><%= report.report.content %></a>
          </div>
        <% end %>
        <% report.shop_reports.each do |report| %>
          <div class="card">
            <a href="/shops/<%= report.shop.id %>"><%= report.report.content %></a>
          </div>
        <% end %>
        <% report.video_reports.each do |report| %>
          <div class="card">
            <a href="/videos/<%= report.video.id %>"><%= report.report.content %></a>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<script>
  liked_racks_data = {
    <% current_user.bike_rack_likes.each do |rack_like| %>
      <% bike_rack = BikeRack.find(rack_like.bike_rack_id) %>
      '<%= bike_rack.id %>': {
        'lat': '<%=bike_rack.latitude%>',
        'long': '<%=bike_rack.longitude%>',
        'status': '<%=bike_rack.status%>'
      },
    <% end %>
  }

  liked_shops_data = {
    <% current_user.shop_likes.each do |shop_like| %>
      <% shop = Shop.find(shop_like.shop_id) %>
      '<%= shop.id %>': {
        'lat': '<%=shop.latitude%>',
        'long': '<%=shop.longitude%>',
        'status': '<%=shop.status%>'
      },
    <% end %>
  }
</script>
