<div class="login-container">
  <%= link_to root_path, class: "back-btn" do %>
    <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
  <% end %>

  <div class="login-bsee">
    <img src="https://res.cloudinary.com/dsfuck1dv/image/upload/v1671036918/racks/bsee_logo_wowheel_neon_yihgzz_ntu5ji.png" alt="bsee-logo" class="gt">
    <i class="fa-solid fa-gear gear"></i>
  </div>

  <div class="login-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    label: false,
                    placeholder: "email..." %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" },
                    label: false,
                    placeholder: "password..." %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'link' %><br />
        <% end %>
        <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="login-links">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <p>create an <%= link_to "account", new_registration_path(resource_name), class: 'link' %></p>
        <% end %>
        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "login-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
