<!DOCTYPE html>
<html>
  <head>
    <title>BSee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/461d3ede14.js" crossorigin="anonymous"></script>
     <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKClGaUcZWanoyZGta_wrGZh8t-5q6pu8&libraries=drawing,places&callback=initMap&v=weekly" defer="defer">
    </script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet">
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />
  </head>
  <body>
    <%# <% unless controller_name = "pages" %>
      <%# <%= render "shared/navbar" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%# <% end %> %>
    <script>
      function initAuto(){}
    </script>

    <%= yield %>
  </body>
</html>



<style>

.alert{
  left: 0%;
  top: 0%;
  display:flex;
  color: #f5f;
  font-size:17px;
  position:absolute;
  z-index: 1;
  width:80%;
  height:34px;
  /* background: #F5F; */
  border-radius: 20px;
  margin-left:10px;
  margin-top:14px;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid #f5f; */

}
.alert:empty { display: none }

.notice{
  display:flex;
  color: #f5f;
  font-size:17px;
  position:absolute;
  z-index: 1;
  width:45%;
  height:34px;
  /* background: #F5F; */
  border-radius: 20px;
  margin-left:10px;
  margin-top:14px;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid #f5f; */

}
.notice:empty { display: none }

</style>
